* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(98, 205, 235);
}
nav {
  padding: 10px;
  align-items: center;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 150px;
}
ul li {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: rgb(235, 71, 71);
}
